---
layout: default
---

        <div id="text-area">
 <div class="project-title">{{ page.title }}</div>
    <div class="project-description">
        {% capture my_include %}{% include_relative _project-description.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
    
  <div class="project-info">
      <div id="project-text" class="collapsed"> 
    <div class="project-collaborators">
        {% capture my_include %}{% include_relative _project-info.md %}{% endcapture %}
            {{ my_include | markdownify }} 
    </div>
      </div>
<div class="expand">Read More</div>
      
      
  </div>
</div>


<div class="project-grid">    
      {{ content }}
 </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
   $('.expand').click(function () {
    $('#project-text').removeClass('collapsed', 'fast')
     $(this).remove();
});
</script>